= render :partial => "listings/form/javascripts", :locals => { :listing_id => @listing.id.to_s }

.grid_16.prefix_4.suffix_4

  #new_listing_form
    .float_container
      %h1
        = t(".edit_#{@listing.listing_type}")
        = @listing.title
    
    #listing_required_fields_description
      = t("common.fields_that_are_mandatory")
      
    #new_listing_form_main  
      = form_for @listing, :html => {:multipart => true} do |form|
        = form.error_messages
        = render :partial => "listings/form/title_step", :locals => { :form => form }
        = render :partial => "listings/form/information_step", :locals => { :form => form }
        = render :partial => "listings/form/dates_location_step", :locals => { :form => form }
        = render :partial => "listings/form/additional_details_step", :locals => { :form => form }
        = render :partial => "listings/form/send_button", :locals => { :form => form }

- ["help_share_type", "help_tags", "help_valid_until"].each do |field|
  = render :partial => "listings/help_texts", :locals => { :field => field }
