//= t("emails.swap_offer.you_have_swap_offer", :sender => @author.username)
You have swap offer from
= @author.username 
%br/
%br/

//= t("emails.swap_offer.offer", :offerer_recipe => @offerer_recipe.title, :receiver_recipe =>  @receiver_recipe.title)

He is offering food 
%a{:href => "#{@url}listings/#{@offerer_recipe.id}-#{@offerer_recipe.title}?cid=#{@community_id}"}
  = @offerer_recipe.title
for exchange of your food 
%a{:href => "#{@url}listings/#{@receiver_recipe.id}-#{@receiver_recipe.title}?cid=#{@community_id}"}
  = @receiver_recipe.title
%br
Click on below url to check the swap offer
%br
//= t("emails.new_message.you_can_reply_to_message_in")
%a{:href => "#{@url}/people/#{@recipient.id}/swap_items?cid=#{@community_id}"}
  Swap offer
%br/
%br/

= t("emails.new_message.do_not_reply_to_this_email")
