#news_items_admin_view_title.grid_12.alpha
  %h3= "Users List"
  = link_to "Invite Users", new_person_invitation_path(@current_user)
.grid_6.omega
  #create_news_item_link
    = form_tag admin_profiles_path, :method => :get, :id => "profiles_search" do
      = text_field_tag :search, params[:search], :class => "other_search"
      = hidden_field_tag :type, "profiles"
      = submit_tag "Search", :class => "other_search_button"

.clear  
#news_items_admin_view_list
  - if @profiles.size > 0
    = render :partial => "profiles"
    = will_paginate(@profiles)
    //= pageless(@news_items.total_pages, '#news_items_admin_view_list', admin_news_items_path, t('admin.news_items.index.loading_more_news'))
  - else
    #no_news_found
      = "No user listed yet."
