%h2
  Received swap offers

#conversations
  - unless @received_swap_offers.nil?
    - @received_swap_offers.each do |swap_offer|
      .conversation
        .person_image
          = small_avatar_thumb(get_person(swap_offer.offerer_id))
        .conversation_left
          //= link_to "#{get_person(swap_offer.offerer_id).username}", "#"
          = link_to "#{get_person(swap_offer.offerer_id).username}", person_path(swap_offer.offerer_id)
          %br/
          %span= time_ago(swap_offer.created_at)
        .conversation_center
          %h7
            //To do need to add to translation after finalization
            Have Swap offer for food
            = link_to get_listing(swap_offer.offerer_listing_id).title, listing_path(swap_offer.offerer_listing_id)
            %br/
            for exchange your food
            = link_to get_listing(swap_offer.receiver_listing_id).title, listing_path(swap_offer.receiver_listing_id)
        .conversation_right
          - if swap_offer.acceptance.nil?
            .accept.conversation_status_link
              = link_to(image_tag("/images/icons/accept_icon.png") + "Accept", swap_offers_update_path(@current_user,swap_offer, :accept => true), :method => :put ) 
            .reject.conversation_status_link
              = link_to(image_tag("/images/icons/accept_icon.png") + "Not interested", swap_offers_update_path(@current_user,swap_offer, :accept => 0), :method => :put ) 
          - elsif swap_offer.acceptance == true
            .conversation_status_label.accepted
              Request Accepted
            - if swap_offer.receiver_communication_mode.nil?
              = form_for swap_offer do |f|
                = f.label "please mention your preferred way of communication. Eg. Phone / Email / RGF messeaging."
                = f.text_field :receiver_communication_mode, :class => "conversation_field"
                = f.submit "Save", :class => "conversation_button"
            - else
              Preferred way of communication is
              %b
                = swap_offer.receiver_communication_mode             
          - elsif swap_offer.acceptance == false
            .conversation_status_label.rejected
              Request Rejected

%br/
%br/
%h2
  Sent swap offers

#conversations
  - unless @sent_swap_offers.nil?
    - @sent_swap_offers.each do |swap_offer|
      .conversation
        .person_image
          = small_avatar_thumb(get_person(swap_offer.receiver_id))
        .conversation_left
          = link_to "#{get_person(swap_offer.receiver_id).username}", person_path(swap_offer.receiver_id)
          %br/
          %span= time_ago(swap_offer.created_at)
        .conversation_center
          %h7
            //To do need to add to translation after finalization
            Sent Swap offer for food
            = link_to get_listing(swap_offer.receiver_listing_id).title, listing_path(swap_offer.receiver_listing_id)
            %br/
            for exchange your food
            = link_to get_listing(swap_offer.offerer_listing_id).title, listing_path(swap_offer.offerer_listing_id)
        .conversation_right
          - if swap_offer.acceptance == true
            .conversation_status_label.accepted
              Request Accepted
            - unless swap_offer.receiver_communication_mode.nil?
              Preferred way of communication is
              %b 
                = swap_offer.receiver_communication_mode             
          - elsif swap_offer.acceptance == false
            .conversation_status_label.rejected
              Request Rejected
          - else
            .conversation_status_label
              Request Pending
          
