- content_for :javascript do
  initialize_admin_new_community_form("#{I18n.locale}","#{t("communities.new_tribe_form.domain_invalid")}","#{t("communities.new_tribe_form.domain_taken")}", "#{t("communities.new_tribe_form.select_main_language_of_your_tribe")}");

- content_for :extra_javascript do
  = javascript_include_tag "https://maps.google.com/maps/api/js?sensor=true"

#new_community_form
  = form_for @community, :url => @path do |form|
    .form_field_container
      = form.label :name, "Community Name:"
      %br
      = form.text_field :name, :maxlength => "50", :class => "text_field"
    .form_field_container
      = form.label :domain, "Unique Name:"
      %br
      = form.text_field :domain, :maxlength => "50", :class => "text_field"
    .form_field_container
      = form.label :address, "Address:"
      %br
      = form.text_field :address, :class => "text_field", :onkeyup => "timed_input(this)"
      #admin_new_community_map_canvas.map
        :javascript
          source = document.getElementById("community_address");
          $(document).ready(function(){
            googlemapMarkerInit("admin_new_community_map_canvas","community_location","community_address", true, #{tribe_latitude}, #{tribe_longitude});
          });
    .form_field_container
      = form.label :category, "Select Category:"
      %br
      = form.select :category, [['association'] , ['neighborhood'] , ['congregation'], ['town'], ['apartment_building'], ['other']]
    .form_field_container
      = form.hidden_field :terms, :value => "true"
      = form.submit "Add Community", :class => "send_button"
