#new_news_item_form
  %h2
    Edit Community Details
  = form_for @community, :url => @path, :method => :put do |form|
    .form_field_container
      = form.label :name, "name", :class => "input"
      = form.text_field :name, :class => "text_field", :maxlength => "200"
    .form_field_container
      = form.label :domain, "Domain", :class => "input"
      = form.text_field :domain, :maxlength => "200", :class => "text_field"
    .new_listing_form_field_container
      = form.submit "Save", :class => "send_button"
