#news_items_admin_view_title.grid_12.alpha
  %h3= "Communities List"
  //= link_to "Add Community", new_admin_community_path(:type => "communities")
.grid_6.omega
  #create_news_item_link
    = form_tag admin_communities_path, :method => :get, :id => "communities_search", :type => "communities" do
      = text_field_tag :search, params[:search], :class => "other_search"
      = hidden_field_tag :type, "communities"
      = submit_tag "Search", :class => "other_search_button"
.clear 
#news_items_admin_view_list
  - if @communities.size > 0
    = render :partial => "communities"
    = will_paginate(@communities)
  - else
    #no_news_found
      = "No community listed yet."
