= render :partial => "listings/form/javascripts", :locals => { :listing_id => "false" }

.grid_16.prefix_4.suffix_4
  #new_listing_form_tabs
    %div{:class => get_new_listing_tab_class("offer")} 
      = link_to t('.offer_something'), new_listing_path(:type => "offer", :category => @listing.category), :remote => :true

.grid_16.prefix_4.suffix_4

  #new_listing_form
    - unless @text_info.nil?
      %p
        = @text_info.listing_form
    #listing_type_select_icons
      - unless session[:swap_food].nil? && session[:swap_usr].nil?
        #listing_form_title
          //To do add to translation file after finalization
          This recipe automatically offered to
          = get_person(session[:swap_usr]).username
          for swap
    
      #new_listing_form_main  
        = form_for @listing, :html => {:multipart => true} do |form|
          = form.error_messages
          = render :partial => "listings/form/#{@listing.current_step}_step", :locals => { :form => form }
          .new_listing_form_field_container
            = form.submit "Back", :class => "send_button", :name => "back_button" unless @listing.first_step?
            - unless @listing.first_step?
              = form.submit "Continue", :class => "send_button less_button_margin"
            - else
              = form.submit "Continue", :class => "send_button"
= render :partial => "listings/help_texts", :collection => ["help_share_type", "help_tags", "help_valid_until"], :as => :field
