= render :partial => "listings/form/description", :locals => { :form => form }
//= render :partial => "listings/form/images", :locals => { :form => form }
= render :partial => "listings/form/receipe", :locals => { :form => form }
= render :partial => "listings/form/portions", :locals => { :form => form }
= render :partial => "listings/form/tag_list", :locals => { :form => form }
= render :partial => "listings/form/restriction_list", :locals => { :form => form }  

